<h2>👤{{ username }}</h2>
<h3>{{ status }}</h3>
<hr>
<h3>Посты:</h3>
{{ post-result }}
<form action="/user" method="get">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="number" name="post-page" id="post-page" min="1" max="{{ max-post-page }}" value="{{ current-post-page }}">
    <button type="submit">Просмотреть</button>
</form>
<hr>
<h3>Хабы:</h3>
{{ hub-result }}
<form action="/user" method="get">
    <input type="hidden" name="id" id="id" value="{{ id }}">
    <input type="number" name="hub-page" id="hub-page" min="1" max="{{ max-hub-page }}" value="{{ current-hub-page }}">
    <button type="submit">Просмотреть</button>
</form>