<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хаблогерс</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>ХАБЛОГЕРС</h1>
        <hr>
    </header>
    <nav>
        {{ nav }}
    </nav>
    <main>
        <hr>
        {{ # }}
        <hr>
    </main>
    <footer>
        <a href="/admin">Админ-панель | </a>
        <a href="https://github.com/lb357/hublogers">Брискиндов Л.О. / 2026 / Работа по ознакомительной практике РУТ (МИИТ)</a>
    </footer>
</body>
</html>