body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

button, input, textarea {
    background: Gainsboro;
    border-radius: 4px;
    padding: 4px;
}

td, th {
  border: 1px solid black;
}

nav {
    background-color: Gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-container {
    background-color: Gainsboro;
    border-radius: 4px;
    padding: 2px;
    gap: 2px;
}

.vote-container {
    display: flex;
}